<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/stylesheet.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main class="main-container">
        <div class="add-new-photo">
            <h1 class="landing-title">Edit Photo</h1>
            <form class="form-container" action="/updatephoto/<%=photo.id%>" method="post">
                <p>Photo Url :</p>
                <input type="text" name="photoUrl" value="<%= photo.photoUrl %>">
                <p>Photo Detail :</p>
                <input type="text" name="photoDetail" value="<%= photo.photoDetail %>">
                <p>Include to your Photo Album</p>
                <select name="PhotoAlbumId">
                    <% albumList.forEach(el => { %>
                        <option <%= photo.PhotoAlbumId === el.id ? "selected" : "" %> value="<%= el.id %>"><%= el.albumName %></option>
                    <% }) %>
                </select>
                <br>
                <br>
                <br>
                <input type="submit" value="save">
            </form>
        </div>
    </main>
</body>
</html>