<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/stylesheet.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main class="main-container">
            <% photoAlbum.forEach(el => { %>
                <h1 class="album-title">Album "<%= el.albumName %>"</h1>
                <div class="album-container">
                    <div style="display: flex;">
                        <% el.Photos.forEach(photo => { %>
                            <div style="margin-right: 1rem;">
                                <img style="max-width: 50rem; max-height: 40rem;" src="<%= photo.photoUrl %>">
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% }) %>
            <div class="photo-title-container">
                    <h1 class="photo-title" style="color: rgb(255, 255, 255);">Your Photos</h1>
                    <p class="addNewPhoto"><a href="/addphoto">Add New Photo</a></p>
                </div>
            <% photos.forEach(el => { %>
                <div class="photo-container">
                    <div  class="photo-title">
                        <img src="<%= el.photoUrl %>">
                    </div>
                    <div class="caption">
                        <p><a href="/updatephoto/<%= el.id %>">Edit</a></p>
                        <p><a href="/myPhotos/<%= el.id %>/delete">Delete</a></p>
                        <p><%= el.tagJoiner() %></p>
                        <p>Added at : <%= dateFormatter(el.createdAt) %></p>
                    </div>
                </div>
            <% }) %>
        </main>
</body>

</html>