<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/stylesheet.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main class="main-container">
        <div class="add-new-photo">
            <h1 class="landing-title">Your Profile</h1>
            <h2>Name : <%= profile ? profile.firstName : "" %> <%= profile ? profile.lastName : "" %></h2>
            <p>Age : <%= profile ? profile.age : ""%> </p>
            <p>location : <%= profile ? profile.location : ""%> </p>
            <p>Phone Number : <%= profile ? profile.phoneNumber : ""%> </p>
            <p>Email : <%= profile ? profile.User.email : ""%> </p>
            <br>
            <p><a href="/myProfile/edit">Edit Profile</a></p>
        </div>
    </main>
</body>
</html>